In [ ]:
# import pandas as pd
from pandas import Series, DataFrame
import numpy as np
from numpy import nan as NA
a=pd.Series([1,2,None,3, NA, None])
a.fillna(0)

# O estudo deste capítulo foi complementado por conteúdos no Youtube

In [35]:
m=pd.read_csv('market.csv', skipinitialspace=True)
m.dropna(how='any', axis=1)

                   Produto
Pão de Açúcar       Açúcar
Pão de Açúcar       Canela
Carrefour      Pão Francês
St.Marche        Abobrinha
Extra            Biscoito

In [52]:
f1=pd.read_csv('n_participou.csv', skipinitialspace=True)
f1.fillna(NA)
f1.dropna(how='any' )

      Piloto     Carro Melhor Volta  Voltas Concluídas
0   Hamilton  Mercedes        1m35s               35.0
1    LeClerc   Ferrari        1m34s                8.0
3  Ricciardo  Mclaren         1m36s               19.0

In [56]:
n=pd.read_csv('numbers.csv')
n.dropna(thresh=2)

      a     b    c
0   1.0   2.0  3.0
2   5.0   6.0  7.0
3  10.0  12.0  NaN
6  21.0  10.0  NaN

In [68]:
shopping=pd.read_csv('lojas.csv', skipinitialspace=True)
fn={'Método de Pagamento':'Não Acordado',
   'Valor Aluguel':'A Negociar'}
shopping.fillna(fn, inplace=True)
shopping.to_csv('shopping_atualizado.csv')
### PESQUISAR DEPOIS: SORTING INDEX

In [97]:
p=pd.read_csv('sindico.csv')
p.fillna(method='ffill', limit=7, inplace=True)
p.fillna(np.sum(p.iloc[:7,1]), inplace=True)
p

   Apartamento    Condomínio
0           11        1000.0
1           12        1000.0
2           21        1000.0
3           22        1000.0
4           31        1000.0
5           32        1000.0
6           41        1000.0
7           42        1000.0
8           50        7000.0

In [115]:
liv=pd.read_csv('livraria.csv', skipinitialspace=True)
liv.drop_duplicates(['Seção'], keep='last')

                    Seção             Autor          Livro  Preço
3       Língua Portuguesa  Machado de Assis   Dom Casmurro     30
7  Literatura Estrangeira         Cervantes  El Mago de Oz     40

In [31]:
import pandas as pd
from pandas import Series, DataFrame
import numpy as np

liv=pd.read_csv('livraria_estagiario.csv', skipinitialspace=True)
liv.drop_duplicates(['Autor', 'Preço'], keep='last')
#liv.drop_duplicates([')
liv['Autor']=liv['Autor'].replace('Alexandre Dumaas', 'Alexandre Dumas')
liv.drop_duplicates('Obra' , keep='last')
liv.drop_duplicates('Obra').sort_values(by=['Obra','Autor'])

,Obra,Autor,Preço
Literatura Portuguesa,A Relíquia,Eça de Queiroz,49.99
Culinária,Best Recipes by James Oliver,James Oliver,79.99
Literatura Portuguesa,Claro Enigma,C.D de Andrade,55.99
Literatura Portuguesa,Dom Casmurro,Machado de Assis,69.99
Literatura Estrangeira,Le Petit Prince,Saint-Éxupery,29.99
Literatura Portuguesa,M.P de Brás Cubas,Machado de Assis,69.99
Literatura Estrangeira,O Conde de Monte Cristo,Alexandre Dumas,59.99
Literatura Portuguesa,O Primo Basílio,Eça de Queiroz,49.99
Literatura Estrangeira,Os Três Mosqueteiros,Alexandre Dumas,59.99
Literatura Estrangeira,The Complete Works of Edgar Allan Poe,Edgar Allan Poe,99.99

In [22]:
f1=pd.read_csv('f1.csv', skipinitialspace=True, index_col=0)
d={'Ferrari':'Ferrari', 'Mercedes':'Mercedes','Red Bull':'Honda', 'Alpine':'Renaut', 'Haas':'Ferrari',
  'Alpha Tauri':'Honda', 'Mclaren':'Mercedes', 'Aston Martin':'Mercedes','Willians':'Mercedes'}
f1['Motor'] = pd.Series(f1.index, index=f1.index).map(d)  #Mapeando a partir do index
f1

             Nacionalidade     Motor
Scuderia
Ferrari             Itália   Ferrari
Mercedes          Alemanha  Mercedes
Red Bull           Áustria     Honda
Alpine              França    Renaut
Haas                   EUA   Ferrari
Alpha Tauri         Itália     Honda
Mclaren         Inglaterra  Mercedes
Aston Martin    Inglaterra  Mercedes
Willians        Inglaterra  Mercedes

In [44]:
aluguel=pd.read_csv('aluguel.csv', skipinitialspace=True, index_col=0)
aluguel.replace(['Mônica','Eduardo'], np.nan, inplace=True)
aluguel.replace([aluguel.loc[44,'Aluguel'], aluguel.loc[82,'Aluguel']], np.nan, inplace=True)
aluguel.replace(['Elisa',900], ['Arthur',1100], inplace=True)
aluguel.replace(d)

            Proprietário  Aluguel
Apartamento
11                Arthur    500.0
44                   NaN      NaN
51                Felipe    700.0
52                Gelson    800.0
63             Jaqueline    500.0
82                   NaN      NaN

In [66]:
tempo=pd.read_csv('previsao.csv', skipinitialspace=True, index_col=0)
d={'São Paulo':50,'Rio de Janeiro':65,'Manaus':75, 'Fortaleza':50, 'Criciúma':35, 'Goiânia':20}
tempo['Umidade (%)']=pd.Series(tempo.index, index=tempo.index).map(d)
tempo.index.str.upper()
tempo.sort_values(by='Temperatura Média', ascending=False)
tempo.rename(index={'Rio de Janeiro':'Belo Horizonte'})

                Temperatura Média  Umidade (%)
Cidade
São Paulo                      25           50
Belo Horizonte                 27           65
Manaus                         30           75
Fortaleza                      34           50
Criciúma                       18           35
Goiânia                        32           20

In [19]:
ages=[8,9,11,12,12,13,16,18,21,24,25,27,30,32,37,38,50,62,67,70,72]
bins=[0,18,25,40,60,80]
cortes=pd.cut(ages,bins, right=False)
#cortes
#cortes.codes
cortes.categories
pd.value_counts(cortes).sort_index()

[0, 18)     7
[18, 25)    3
[25, 40)    6
[40, 60)    1
[60, 80)    4
dtype: int64

In [1]:
nomes=['Angelo','Eduardo','Felipe','Ricardo','Rafael','Zacaria','Pedro']
c=['A','M','Z']
pd.cut(nomes,c)

NameError: name 'pd' is not defined

In [3]:
dados=pd.read_csv('imc.csv', skipinitialspace=True, index_col=0)
dados['IMC']=dados['Peso (kg)'] / (dados['Altura (m)'])**2
corte=[15,18.5,25,30,40]
l=['Abaixo do Peso', 'Normal', 'Pré-Obesidade','Obesidade']
dados['Condição']=pd.cut(dados['IMC'],corte, right=False, labels=l)
dados

         Peso (kg)  Altura (m)        IMC       Condição
Nome
Felipe          58        1.67  20.796730         Normal
Eduardo         59        1.66  21.410945         Normal
Roberto         82        1.75  26.775510  Pré-Obesidade
Cláudia         52        1.57  21.096191         Normal

In [15]:
df=pd.DataFrame(np.random.randn(1000,4))
df[(np.abs(df)>3).any(1)]

            0         1         2         3
97   1.824802 -1.433214  1.476291 -3.200665
144 -0.397084 -0.075366  0.821960  3.116096
210  0.599237 -0.649183 -3.061879 -0.380061
217  3.253345  0.832519 -2.148180  1.406480
294  3.107760 -0.072419 -1.249686  0.436571
391 -3.275238 -0.303104 -1.598986 -0.135587
471 -0.101723 -3.049656 -1.109853 -1.499283
484  0.066545 -0.524619 -0.034308 -3.793901
579  0.887732  0.616405 -3.188831  0.005082
637  3.266254 -1.394425  1.967630  0.479257
675 -0.081782  0.100779  3.148221 -0.483474
731  0.009745 -1.607898  3.239802 -0.051028
862  1.120118  0.616766 -3.123463 -0.711105
872 -1.593592 -0.064036  3.151547  0.558593

In [21]:
a=pd.DataFrame({'Número1':[0,1,-2,3],
           'Número2':[0,0,1,-1]})
np.sign(a)

   Número1  Número2
0        0        0
1        1        0
2       -1        1
3        1       -1

In [35]:
vestibular=pd.read_csv('vestibular.csv', skipinitialspace=True, index_col=0)
vestibular
aprovados=vestibular[(np.abs(vestibular)>7).any(1)]
aprovados.sort_values(by='Nota Final', ascending=False)

              Nota Final
Participante
Eduardo             8.87
Antônio             7.99
Guilherme           7.81

In [80]:
vestibular=pd.read_csv('vestibular.csv', skipinitialspace=True, index_col=0)
vestibular.take([7,1,0])
vestibular.sample(4, replace=True)
#vestibular.loc[['Felipe']]  #Selecionando uma linha do DF com base no index

#vestibular.sample(2)

              Nota Final
Participante
Carlos              6.67
Pedro               1.37
Guilherme           7.81
Júlio               4.34

In [81]:
np.random.permutation(10)

array([1, 0, 7, 6, 2, 3, 9, 8, 5, 4])

In [95]:
f1=pd.read_csv('f1.csv', skipinitialspace=True, index_col=0)
pd.get_dummies(f1['Equipe'], prefix='Scuderia')

             Scuderia_Ferrari  Scuderia_Mercedes  Scuderia_Red Bull
Pista
Monaco                      0                  1                  0
Barcelona                   1                  0                  0
Hungria                     0                  0                  1
Áustria                     0                  0                  1
Silverstone                 1                  0                  0
Monza                       1                  0                  0

In [1]:
import re

text='''Baixo assinado: \t fora        BOLSONARO'''

re.split('\s+', text)
regex= re.compile('\s+')
regex.findall(text)

[' ', ' \t ', '        ']

In [13]:
NameAge=  '''
Janice is 22 and Roberto is 40 and Felipe is 19 and Eduardo is 14
'''
ages=re.findall(r'\d{1,3}',NameAge)
names=re.findall(r'[A-Z][a-z]*', NameAge)
#for age, name in zip(ages, names):
    #print(age, name)
x={name:age for name, age in zip(names,ages)}
x

{'Janice': '22', 'Roberto': '40', 'Felipe': '19', 'Eduardo': '14'}

In [24]:
manchete='Barcelona anuncia saída de Suarez'

if re.search('Messi', manchete):
             print('Messi sairá do Barcelona')
else:
    print('c`est fake news')

c`est fake news

In [25]:
re.findall('hoj', 'hoje, haverá uma frente fria vinda do Sul; hoje teremos o casamento da familia real')

['hoj', 'hoj']

In [31]:
for i in re.finditer('SP','O Estado de SP anunciou mudanças no Plano SP'):
    print(i.span())

(12, 14)
(42, 44)

In [48]:
s='sat, hat, mat, pat, zat'
re.findall('[s,h,m,p]at', s)
re.findall('[a-z]at', s)
re.findall('[^s-z]at', s)  # ^ funciona como uma negação do range dado

['hat', 'mat', 'pat']

In [2]:
s='sat, rat, mat, pat'
regex= re.compile('[r]at')
regex.sub('food', s)

NameError: name 're' is not defined

In [16]:
import re

camoes= '''
Amor é fogo que arde sem se ver;
É ferida que dói, e não se sente;
É um contentamento descontente;
É dor que desatina sem doer.
'''
regex=re.compile('\n')
regex.sub(' ', camoes)

' Amor é fogo que arde sem se ver; É ferida que dói, e não se sente; É um contentamento descontente; É dor que desatina sem doer. '

In [38]:
string='''
Barça recebe oferta de 500 milhões de euros por Messi. Os interessados
pretendem contratá-lo com um contrato de 3 anos
'''

a='12345'
len(re.findall('\d{5}', string)) #\d se trata de todos os algarismos
len(re.findall('5', string))
re.findall('5', string)
re.findall('\d{3}', string)  #{n} -> n seria o comprimento do número em questão. Por exemplo:
                            # existiria um match de 500 e '\d{3}' pois se trata de um número de 3 dígitos
                            #Já em {n,m}, é abordado um range de números. Esse range pode ser utilizado para
                            # se identificar compatibilidades ('\d{6,7}=126, 347)

['500']

In [40]:
num='123, 1234, 12345, 123456, 123457'

re.findall('\d{6,7}', num)

['123456', '123457']

In [83]:
br='55 11 99710-4444'   #\s -- (lowercase s) space, newline, return, tab, form [ \n\r\t\f]. 
                        #\S (upper case S) matches any non-whitespace character.

if re.search('\w{2}\s\w{2}\s\w{5}-\w{4}', br):
        print('telefone brasileiro')
else:
        print('telefone estrangeiro')

telefone brasileiro

In [82]:
br=['55 11 99710-4444','1-433-1281', '55 11 3081-5276'] 
br=','.join(br)
br

'55 11 99710-4444,1-433-1281,55 11 3081-5276'

In [92]:
nome='Eduardo Siqueira Santos'
if re.search('\w{2,20}\s\w{2,20}\s\w{2,20}', nome):
             print('nome válido')
else:
    print('nome inválido')

nome válido

In [104]:
username='skyfallen23'
if re.search('\s', username):
    print('invalid username')

In [2]:
import re
email='felipesveiga@usp.br  roberto_veiga@gmail.com piefnpwe@love.babVba'
re.findall('[\w._%+-]{2,20}@[\w.-]{2,20}.[A-Za-z]{2,3}', email)

['felipesveiga@usp.br', 'roberto_veiga@gmail.com pie', 'fnpwe@love.babVba']

In [1]:
import pandas as pd
from pandas import DataFrame, Series
import numpy as np
d={'Felipe':'felipesveiga@usp.br', 'Roberto':'roberto_veiga@yahoo.com',
  'Eduardo':'eduardoveiga@gmail.com','Cláudia':np.nan}
emails=pd.Series(d)
emails.str.contains('usp')  #Verifica a presença de uma determinada string

Felipe      True
Roberto    False
Eduardo    False
Cláudia      NaN
dtype: object

In [9]:
text='''abcdefg,
bcgabc, mamvbaor, hkabc'''

pattern=re.compile(r'abc')
matches=pattern.finditer(text)
for match in matches:
    print(match)

<_sre.SRE_Match object; span=(0, 3), match='abc'>
<_sre.SRE_Match object; span=(12, 15), match='abc'>
<_sre.SRE_Match object; span=(29, 32), match='abc'>

In [15]:
emails=''' felipesveiga@gmail.com, julianasilva123@yahoo.com. josefgp_@gmail.com
kassiasilva1241@hotmail.com, igorvinicius0101@gmail.com'''

pattern=re.compile(r'\.')  #Special Characters precisam ser precedidos por um \ (escaped)
matches=pattern.finditer(emails)
for match in matches:
    print(match)

<_sre.SRE_Match object; span=(19, 20), match='.'>
<_sre.SRE_Match object; span=(46, 47), match='.'>
<_sre.SRE_Match object; span=(50, 51), match='.'>
<_sre.SRE_Match object; span=(66, 67), match='.'>
<_sre.SRE_Match object; span=(94, 95), match='.'>
<_sre.SRE_Match object; span=(122, 123), match='.'>

In [30]:
phone_numbers=''' 11997104444 
1130815276 1134128713 11996536712'''
pattern=re.compile(r'\b11')   #\b pega valores precedidos por whitspaces e valores não alfanuméricos
matches=pattern.finditer(phone_numbers)
for match in matches:
    print(match)

<_sre.SRE_Match object; span=(1, 3), match='11'>
<_sre.SRE_Match object; span=(14, 16), match='11'>
<_sre.SRE_Match object; span=(25, 27), match='11'>
<_sre.SRE_Match object; span=(36, 38), match='11'>

In [36]:
emails=''' felipesveiga@gmail.com, julianasilva123@yahoo.com. josefgp_@gmail.com
kassiasilva1241@hotmail.com, igorvinicius0101@gmail.com'''
pattern=re.compile(r'\b\w')
matches=pattern.finditer(emails)
for match in matches:
    print(match)

<_sre.SRE_Match object; span=(1, 2), match='f'>
<_sre.SRE_Match object; span=(14, 15), match='g'>
<_sre.SRE_Match object; span=(20, 21), match='c'>
<_sre.SRE_Match object; span=(25, 26), match='j'>
<_sre.SRE_Match object; span=(41, 42), match='y'>
<_sre.SRE_Match object; span=(47, 48), match='c'>
<_sre.SRE_Match object; span=(52, 53), match='j'>
<_sre.SRE_Match object; span=(61, 62), match='g'>
<_sre.SRE_Match object; span=(67, 68), match='c'>
<_sre.SRE_Match object; span=(71, 72), match='k'>
<_sre.SRE_Match object; span=(87, 88), match='h'>
<_sre.SRE_Match object; span=(95, 96), match='c'>
<_sre.SRE_Match object; span=(100, 101), match='i'>
<_sre.SRE_Match object; span=(117, 118), match='g'>
<_sre.SRE_Match object; span=(123, 124), match='c'>

In [49]:
camoes='''Amor é fogo que arde sem se ver;
É ferida que dói, e não se sente;
É um contentamento descontente;
É dor que desatina sem doer.'''

pattern=re.compile(r'doer')
matches=pattern.finditer(camoes)
for match in matches:
    print(match)

<_sre.SRE_Match object; span=(122, 126), match='doer'>

In [57]:
Lista_Telefonica='''Felipe Veiga: 11-99710-4444
Eduardo Veiga: 11.99184.9105
Karim Benzema: 31.98123-9010'''

#pattern=re.compile(r'\d\d.\d\d\d\d\d.\d\d\d\d')
pattern=re.compile(r'\d{2}.\d{5}.\d{4}')
matches=pattern.finditer(Lista_Telefonica)
for match in matches:
    print(match)

<_sre.SRE_Match object; span=(14, 27), match='11-99710-4444'>
<_sre.SRE_Match object; span=(43, 56), match='11.99184.9105'>
<_sre.SRE_Match object; span=(72, 85), match='31.98123-9010'>

In [68]:
pattern=re.compile(r'\d{2}[-.]\d{5}[-.]\d{4}') #Em Character Sets, os . não precisam ser precedidos por \
with open('telefones.txt', 'r', encoding='utf-8') as f:  
    contents= f.read()
    matches=pattern.finditer(contents)
    for match in matches:
        print(match)

<_sre.SRE_Match object; span=(48, 61), match='11-99710-4444'>
<_sre.SRE_Match object; span=(95, 108), match='11-34569-9010'>
<_sre.SRE_Match object; span=(161, 174), match='11.30678.1234'>

In [76]:
pattern=re.compile(r'[1][1-9][-.][9][9]\d{3}[-.]\d{4}')
with open('telefones.txt', 'r') as f:
    contents=f.read()
    matches=pattern.finditer(contents)
    for match in matches:
        print('É celular de SP:', match)

É celular de SP: <_sre.SRE_Match object; span=(48, 61), match='11-99710-4444'>
É celular de SP: <_sre.SRE_Match object; span=(261, 274), match='13-99110-7810'>

In [80]:
camoes='''Amor é fogo que arde sem se ver;
É ferida que dói, e não se sente;
É um contentamento descontente;
É dor que desatina sem doer.'''

pattern=re.compile(r'\wer.')
matches=pattern.finditer(camoes)
for match in matches:
    print(match)

<_sre.SRE_Match object; span=(28, 32), match='ver;'>
<_sre.SRE_Match object; span=(35, 39), match='feri'>
<_sre.SRE_Match object; span=(123, 127), match='oer.'>

In [1]:
import re
phones=''' 11-99710-4444, 11 99810 1234, 11 99701.1231'''

pattern=re.compile(r'11[ .-]99\d{3}[ .-]\d{4}')
matches=pattern.finditer(phones)
for match in matches:
    print(match)

<_sre.SRE_Match object; span=(1, 14), match='11-99710-4444'>
<_sre.SRE_Match object; span=(16, 29), match='11 99810 1234'>
<_sre.SRE_Match object; span=(31, 44), match='11 99701.1231'>

In [8]:
pattern=re.compile(r'11[ .-]99\d{3}[ .-]\d{4}')
with open ('tel.txt', 'r') as f:
    contents=f.read()
    matches=pattern.finditer(contents)
    for match in matches:
        print(match)

<_sre.SRE_Match object; span=(0, 13), match='11 99710 4444'>
<_sre.SRE_Match object; span=(14, 27), match='11-99010-1234'>
<_sre.SRE_Match object; span=(28, 41), match='11.99810-0908'>

In [66]:
pattern=re.compile(r'\w+@\w+\.(com|br|org)')  # + é equivalente a 1 ou mais
with open('clientes_contatos.txt', 'r') as f:
    contents=f.read()
    matches=pattern.finditer(contents)
    for match in matches:
        print(match)

<_sre.SRE_Match object; span=(16, 40), match='edmundopereira@gmail.com'>
<_sre.SRE_Match object; span=(53, 78), match='laissilva0119@hotmail.org'>
<_sre.SRE_Match object; span=(93, 112), match='felipesveiga@usp.br'>
<_sre.SRE_Match object; span=(127, 159), match='marcosjulio__rodrigues@yahoo.com'>
<_sre.SRE_Match object; span=(176, 200), match='pietro_ramalho@gmail.com'>
<_sre.SRE_Match object; span=(215, 241), match='amanda_neves51@hotmail.com'>

In [32]:
pattern=re.compile(r'M(r|s|rs)\.?\s[A-Z](\w* \w*)?') #? indica que o caractere pode ter 0 ou 1 unidade
with open('bilderberg.txt', 'r') as f:   #* indica uma variacao de 0 ao infinito
    contents=f.read()                    # () cria um grupo, que pode conter argumentos opcionais (| significa 'ou')
    matches=pattern.finditer(contents)
    for match in matches:
        print(match)

<_sre.SRE_Match object; span=(0, 16), match='Mr. Klaus Schwab'>
<_sre.SRE_Match object; span=(17, 34), match='Mr. Willian Gates'>
<_sre.SRE_Match object; span=(35, 53), match='Mr Mark Zuckerberg'>
<_sre.SRE_Match object; span=(54, 58), match='Mr A'>
<_sre.SRE_Match object; span=(59, 72), match='Mr. Elon Musk'>
<_sre.SRE_Match object; span=(73, 90), match='Ms. Angela Merkel'>
<_sre.SRE_Match object; span=(91, 108), match='Mrs Kamala Harris'>
<_sre.SRE_Match object; span=(109, 126), match='Mr. Boris Johnson'>

In [3]:
#pattern=re.compile(r'([A-Za-z0-9\_]+)')
pattern=re.compile(r'([A-Z])+([a-z])+([0-9])+([\_])?')
with open('password.txt','r') as f:
    contents=f.read()
    matches=pattern.finditer(contents)
    for match in matches:
        print(match)

In [11]:
import re 
pattern=re.compile(r'(\w+|\w{1})\.?\s?(\w+|\w{1})\.?\s?(\w+|\w{1})')
with open ('felipe.txt', 'r') as f:
    contents=f.read()
    matches=pattern.finditer(contents)
    for match in matches:
        print(match)

<_sre.SRE_Match object; span=(0, 15), match='Felipe S. Veiga'>
<_sre.SRE_Match object; span=(16, 38), match='Felipe Suguimoto Veiga'>
<_sre.SRE_Match object; span=(39, 50), match='Felipe S. V'>
<_sre.SRE_Match object; span=(51, 61), match='Felipe S V'>
<_sre.SRE_Match object; span=(62, 67), match='F S V'>
<_sre.SRE_Match object; span=(68, 75), match='F. S. V'>
<_sre.SRE_Match object; span=(76, 81), match='F.S.V'>

In [14]:
pattern=re.compile(r'(([A-Z][a-z][0-9])+([-_])*)')
with open('password.txt','r') as f:
    contents=f.read()
    matches=pattern.finditer(contents)
    for match in matches:
        print(match)

In [52]:
pattern=re.compile(r'https://(www\.|www5\.)?(\w+)(\.com|\.br|\.gov|\.fr|\.org)(\.br)?\/(usa)?')
with open('websites.txt','r') as f:
    contents=f.read()
    matches=pattern.finditer(contents)
    for match in matches:
        print(match)

<_sre.SRE_Match object; span=(0, 24), match='https://www.youtube.com/'>
<_sre.SRE_Match object; span=(25, 48), match='https://www.google.com/'>
<_sre.SRE_Match object; span=(49, 68), match='https://www.gov.br/'>
<_sre.SRE_Match object; span=(75, 103), match='https://olavodecarvalho.org/'>
<_sre.SRE_Match object; span=(104, 134), match='https://www.greenpeace.org/usa'>
<_sre.SRE_Match object; span=(136, 156), match='https://www5.usp.br/'>
<_sre.SRE_Match object; span=(157, 181), match='https://jovempan.com.br/'>
<_sre.SRE_Match object; span=(182, 205), match='https://www.lemonde.fr/'>
<_sre.SRE_Match object; span=(206, 226), match='https://twitter.com/'>

In [53]:
pattern=re.compile(r'https://(www\.|www5\.)?(\w+)(\.com|\.br|\.gov|\.fr|\.org)(\.br)?\/(usa)?')
with open('websites.txt','r') as f:
    contents=f.read()
    matches=pattern.sub(r'\2\3',f)
    for match in matches:
        print(match)

TypeError: expected string or bytes-like object

In [47]:
urls='''
https://www.youtube.com/
https://www.google.com/
https://www.gov.br/pt-br/
https://olavodecarvalho.org/
https://www.greenpeace.org/usa/
https://www5.usp.br/
https://jovempan.com.br/
https://www.lemonde.fr/
https://twitter.com/
'''
pattern=re.compile(r'https://(www\.|www5\.)?(\w+)(\.com|\.br|\.gov|\.fr|\.org)(\.br)?\/(usa)?')
subbed_urls=pattern.sub(r'\2\3',urls)
print(subbed_urls)

youtube.com
google.com
gov.brpt-br/
olavodecarvalho.org
greenpeace.org/
usp.br
jovempan.com
lemonde.fr
twitter.com

In [1]:
import re 
pattern=re.compile(r'(\w+|\w{1})\.?\s?(\w+|\w{1})\.?\s?(\w+|\w{1})', re.IGNORECASE)
with open ('felipe.txt', 'r') as f:
    contents=f.read()
    matches=pattern.finditer(contents)
    for match in matches:
        print(match)

<_sre.SRE_Match object; span=(0, 15), match='Felipe S. Veiga'>
<_sre.SRE_Match object; span=(16, 38), match='Felipe Suguimoto Veiga'>
<_sre.SRE_Match object; span=(39, 50), match='Felipe S. V'>
<_sre.SRE_Match object; span=(51, 61), match='Felipe S V'>
<_sre.SRE_Match object; span=(62, 67), match='F S V'>
<_sre.SRE_Match object; span=(68, 75), match='F. S. V'>
<_sre.SRE_Match object; span=(76, 81), match='F.S.V'>
<_sre.SRE_Match object; span=(82, 104), match='felipe suguimoto veiga'>
<_sre.SRE_Match object; span=(105, 110), match='f.s.v'>
<_sre.SRE_Match object; span=(111, 122), match='felipe s. v'>

In [11]:
import pandas as pd
from pandas import DataFrame, Series
emails=pd.read_csv('emails.csv', skipinitialspace=True, index_col=0)
emails.str.contains('gmail')

AttributeError: 'DataFrame' object has no attribute 'str'

In [47]:
d={'Felipe':'felipesveiga@gmail.com',
  'Roberto': 'roberto.veiga@gmail.com',
'Cláudia': 'claudiafs@yahoo.com',
'Eduardo': 'eduardosv@gmail.com',
'Lucca': 'luccasuguimoto0101@yahoo.com'}
pattern=re.compile(r'[a-z0-9_.-]+@[a-z0-9._-]+(\.com|\.br)')
emails=pd.Series(d)                    #Estamos usando o atributo str, e não os métodos do módulo re (com exceção 
emails.str.contains('gmail')        # de re.compile)
matches=emails.str.match(pattern, re.I) # str é de uso exclusivo do Series do pandas
emails.str[:5]

Felipe     felip
Roberto    rober
Cláudia    claud
Eduardo    eduar
Lucca      lucca
dtype: object